<?xml version="1.0" encoding="UTF-8"?>
<robot name="momo_robot_arm_v2">
  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../meshes/v2/base_link.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../meshes/v2/base_link.stl"/>
      </geometry>
    </collision>
  </link>
  <link name="Link_2">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../meshes/v2/Link_2.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../meshes/v2/Link_2.stl"/>
      </geometry>
    </collision>
  </link>
  <link name="Link_3">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../meshes/v2/Link_3.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../meshes/v2/Link_3.stl"/>
      </geometry>
    </collision>
  </link>
  <link name="Link_4">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../meshes/v2/Link_4.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../meshes/v2/Link_4.stl"/>
      </geometry>
    </collision>
  </link>
  <link name="Link_5">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../meshes/v2/Link_5.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../meshes/v2/Link_5.stl"/>
      </geometry>
    </collision>
  </link>
  <link name="Link_6">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../meshes/v2/Link_6.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../meshes/v2/Link_6.stl"/>
      </geometry>
    </collision>
  </link>
  <link name="Link_7">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../meshes/v2/Link_7.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../meshes/v2/Link_7.stl"/>
      </geometry>
    </collision>
  </link>
  <joint name="J10" type="prismatic">
    <parent link="base_link"/>
    <child link="Link_2"/>
    <origin xyz="-0.13 -0.019 -0.022" rpy="1.57079633 0 1.57079633"/>
    <axis xyz="0 0 1"/>
    <limit lower="-0.1" upper="0.1" effort="100" velocity="0.1"/>
  </joint>
  <joint name="J11" type="revolute">
    <parent link="Link_2"/>
    <child link="Link_3"/>
    <origin xyz="0.019145 0.107 0.12999495" rpy="0 -1.57079633 -1.57079633"/>
    <axis xyz="0 0 1"/>
    <limit lower="-3.14159" upper="3.14159" effort="10" velocity="1"/>
  </joint>
  <joint name="J12" type="revolute">
    <parent link="Link_3"/>
    <child link="Link_4"/>
    <origin xyz="0.02599998 0 0.06700005" rpy="1.57079633 0 1.57079633"/>
    <axis xyz="0 0 1"/>
    <limit lower="-3.14159" upper="3.14159" effort="10" velocity="1"/>
  </joint>
  <joint name="J13" type="revolute">
    <parent link="Link_4"/>
    <child link="Link_5"/>
    <origin xyz="0 0.13000002 -0.0006" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-3.14159" upper="3.14159" effort="10" velocity="1"/>
  </joint>
  <joint name="J14" type="revolute">
    <parent link="Link_5"/>
    <child link="Link_6"/>
    <origin xyz="0.14999994 3e-8 -0.05" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-3.14159" upper="3.14159" effort="10" velocity="1"/>
  </joint>
  <joint name="J15" type="revolute">
    <parent link="Link_6"/>
    <child link="Link_7"/>
    <origin xyz="0.06139999 -0.00439984 0.03045014" rpy="1.57079633 0 -1.57079633"/>
    <axis xyz="0 0 1"/>
    <limit lower="-3.14159" upper="3.14159" effort="10" velocity="1"/>
  </joint>
</robot>
